@import 'variables/variables';

  @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600;700&family=Nunito:wght@800&family=Raleway:wght@400;600;700&display=swap');

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-display: swap;
}

.container {
    margin: 0 auto;
    width: 1110px;
    position: relative;
}
.devider {
  height: 3px;
  width: 30px;
  background-color: $mainYellow;
}


@import 'blocks/header';
@import 'blocks/menu';
@import 'blocks/button';
@import 'blocks/main_slider';
@import 'blocks/about';
@import 'blocks/services';
@import 'blocks/advantages';
@import 'blocks/choose';
@import 'blocks/project';
@import 'blocks/delivering';
@import 'blocks/blog';
@import 'blocks/quote';
@import 'blocks/modal';
@import 'blocks/up';
@import 'blocks/contact';
@import 'blocks/footer';
@import 'blocks/media';