@import 'variables/variables';
//@import 'base/mixins';
  @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600;700&family=Nunito:wght@800&family=Raleway:wght@400;600;700&display=swap');

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    width: 1110px;
}
.devider {
  height: 3px;
  width: 30px;
  background-color: $mainYellow;
}

@import 'blocks/header';
@import 'blocks/menu';
@import 'blocks/button';
@import 'blocks/main_slider';
@import 'blocks/about';
@import 'blocks/media';