.header {
    height: 55px;
    background-color: $mainBlue;
    padding: 17px 0px;
    &__rec {
        width: 725px;
        display: flex;
        justify-content: space-between;
    }
    &__item {
        display: flex;
        align-items: center;
    }
    &__icon {
        height: 15px;
        fill: $mainYellow;
    }
    &__descr {
        margin-left: 10px;
        display: inline;
        font-family: 'Raleway', sans-serif;
        font-weight: 400;
        font-size: 16px;
        text-align: left;
        color: #fff;
        text-decoration: none;
    }
    &__socail {
        width: 140px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        a {
            display: flex;
            align-items: center;
        }
        svg {
            height: 15px;
            fill: #fff;
            &:hover {
                fill: $mainYellow;
            }
        }
    }
    &__main {
        display: flex;
        justify-content: space-between;
    }
}