@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .btn {
        &:hover {
            box-shadow: none;
            transform: none;
        }
    }
    .menu {
        &__block {
            gap: 30px;
        }
    }
    .main_slider {
        &__item {
            height: 600px;
            padding-top: 125px;
        }
    }
    .about {
        &__block {
            grid-template-columns: 410px 95px 395px;
            grid-template-rows: 550px 180px;
        }
        &__img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &__company {
            width: 100%;
            height: 100%;
        }
        &__link {
            width: 100%;
            height: 100%;
        }
        &__company_inner {
            padding-top: 100px;
        }
    }
    .services {
        padding-top: 100px;
        margin-top: 60px;
    }
    .advantages {
        &__item {
            &:before {
                left: -38px;
            }
        }
    }
    .choose {
        height: 530px;
        &__img {
            width: 350px;
        }
        &__subtitle {
            font-size: 16px;
        }
        &__title {
            font-size: 36px;
        }
        &__descr {
            line-height: 1.4; 
        }
    }
    .project {
        &__img_block {
            grid-template-columns: repeat(3,300px);
            grid-template-rows: repeat(1,215px);
            grid-auto-rows: 215px;
            gap: 25px;
        }
    }
    .delivering {
        &__next, &__prev {
            svg {
                &:hover {
                    fill: $mainYellow;
                }
            }
        }
    }
    .blog {
        &__block {
            column-gap: 50px;
            grid-template-columns: 490px 420px;
        }
        &__small {
            grid-template-columns: 180px 205px;
        }
    }
}
@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .header {
        padding: 10px 0;
        &__main {
            position: relative;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }
        &__rec {
            width: 670px;
        }
        &__descr {
            font-size: 14px;
        }
        &__social {
            margin-top: 2px;
        }
    }
    .menu {
        padding: 5px 0 0 0;
        &__block {
            grid-template-columns: repeat(2, auto);
            grid-template-rows: repeat(2, auto);
            gap: 5px;
            a {
                order: 2;
            }
            button {
                order: 3;
                justify-self: end;
            }
            nav {
                order: 1;
                grid-column: 1 / 3;
                justify-self: center;
            }
        }
        &__items {
            width: 650px;
        }
    }
    .main_slider {
        &__item {
            height: 500px;
            padding-top: 100px;
        }
        &__descr {
            font-size: 50px;
        }
    }
    .about {
        &__block {
            grid-template-columns: 300px 70px 290px;
            grid-template-rows: 500px 150px;
        }
        &__company_inner {
            padding-top: 80px;
            padding-right: 30px;
            padding-left: 30px;
        }
        &__title {
            font-size: 16px;
        }
        &__subtitle {
            font-size: 35px;
        }
        &__descr {
            font-size: 16px;
        }
        &__tel_box {
            grid-template-columns: 50px 170px;
            grid-template-rows: 18px 25px;
            column-gap: 25px;
            row-gap: 12px;
            svg {
                width: 100%;
                height: 100%;
            }
            &_number {
                font-size: 25px;
            }
            &_title {
                font-size: 16px;
            }
        }
        &__link {
            padding: 40px 70px 60px 30px;
        }

    }
    .services {
        height: 815px;
        padding-top: 60px;
        margin-top: 40px;
    }
    .advantages {
        height: 300px;
    }
    .choose {
        height: 385px;
        margin-top: 60px;
        &__info {
            padding-top: 20px;
            padding-left: 20px;
        }
        &__img {
           width: 270px;
        }
        &__subtitle {
           font-size: 15px;
        }
        &__title {
           font-size: 26px;
        }
        &__descr {
           line-height: 1.2; 
            font-size: 17px;
        }
        &_btn {
            width: 220px;
            height: 65px;
        }
        &__btn_block {
                padding: 10px 28px 10px 15px;
            }
        &__btn_icon {
            margin-right: 11px;
        }
        &__btn_descr {
            font-size: 13px;
        }
    }
    .project {
        &__img_block {
            grid-template-columns: repeat(2,345px);
            grid-template-rows: repeat(1,240px);
            grid-auto-rows: 240px;
            gap: 25px;
        }
    }
    .delivering {
        padding: 60px 0 0 0;
        &__title {
            font-size: 40px;
        }
        &__btn {
            margin: 30px auto 0 auto;
        }
        &__review_block {
            padding: 60px 180px 0 180px;
        }
        &__review_slide {
            margin-top: 30px;
        }
        &__review_descr {
            font-size: 25px;
            span {
                font-size: 18px;
            }
        }
    }
    .blog {
        margin-top: 220px;
        &__block {
            margin-top: 40px;
            grid-template-columns: 310px 390px;
            column-gap: 25px;
        }
        &__small {
            column-gap: 15px;
        }
    }
}
@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }   
    .header {
        &__main {
            flex-direction: row;
        }
        &__rec {
            width: 300px;
            flex-direction: column;
        }
        &__social {
            margin-right: 60px;
        }
        &__item {
            margin-top: 3px;
        }
    }
    .menu {
        position: relative;
        &__items {
            flex-direction: column;
            position: fixed;
            left: 0;
            top: 0;
            justify-content: center;
            align-items: center;
            left: -100%;
            width: 50%;
            height: 100vh;
            background-color: rgba(0,0,0, .8);
		    transition: 1s all;
            z-index: 10;            
        }
        &__item {
            width: 100%; 
            margin-top: 25px;
            text-align: center;
            a {
                color: #fff;
                font-size: 20px;
                &:active {
                    color: $mainBlue;
                }
                &:focus {
                    color: $mainBlue;
                }
            }
        }
        &_activ {
            left: 0;
        }
    }
    .hamburger {
        height: 25px;
        position: absolute;
        right: 10px;
        top: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        span {
            width: 35px;
            height: 4px;
            background-color: #fff;   
            transition: 0.5s all;     
        }
        &__cross {
            span {
                &:nth-child(1) {
                    transform: translateY(10px) rotate(-45deg);
                }
                &:nth-child(2) {
                        display: none;
                }
                &:nth-child(3) {
                    transform: translateY(-10px) rotate(45deg);
                }
            }
        }
    } 
    .main_slider {
        &__item {
            height: 400px;
            padding-top: 60px;
        }
        h2 {
            font-size: 22px;
        }
        &__descr {
            font-size: 40px;
        }
    }
    .about {
        margin-top: 60px;
        &__block {
            grid-template-columns: 220px 50px 230px;
            grid-template-rows: 450px 120px;
            column-gap: 20px;
        }
        &__company {
            padding-left: 20px;
            padding-bottom: 20px;
        }
        &__company_inner {
            padding-top: 50px;
            padding-right: 25px;
            padding-left: 25px;
        }
        &__title {
            font-size: 15px;
        }
        &__subtitle {
            margin-top: 10px;
            font-size: 27px;
        }
        &__descr {
            font-size: 15px;
        }
        &__tel_box {
            grid-template-columns: 40px 130px;
            grid-template-rows: 18px 25px;
            column-gap: 15px;
            row-gap: 12px;
            &_number {
                font-size: 19px;
            }
            &_title {
                font-size: 14px;
            }
        }
        &__link {
            padding: 33px 70px 60px 25px;
        }
    }
    .services {
        height: 775px;
        &__item {
            height: 510px;
        }
        &__desr_cont {
            padding-top: 15px;
        }
        &__slider_descr {
            margin-top: 10px;
            font-size: 15px;
            line-height: 1.4;
        }
    }
    .advantages {
        height: 250px;
        &__icon {
            width: 45px;
            height: 45px;
        }
        &__descr {
            font-size: 20px;
        }
        &__divider {
            height: 105px;
        }
    }
    .choose {
        &__img {
           width: 200px;
        }
        &__subtitle {
           font-size: 14px;
        }
        &__title {
            margin-top: 10px;
            font-size: 22px;
        }
        &__descr {
           line-height: 1; 
            font-size: 15px;
        }
        &_btn {
            position: static;
        }
    }
    .project {
        padding-bottom: 80px;
        &__img_block {
            grid-template-columns: repeat(1,345px);

        }
    }
    .delivering {
        &__review_block {
            padding: 60px 100px 0 100px;
        }
    }
    .blog {
        margin-top: 210px;
        &__subtitle {
            margin-top: 10px;
        }
        &__block {
            margin-top: 25px;
            grid-template-columns: 500px;
            grid-template-rows: 500px 240px 240px;
            row-gap: 60px;
        }
        &__big {
            grid-row: 1/2;
            &_title {
                margin-top: 15px;
            }
            &_descr {
                margin-top: 13px;
                margin-bottom: 5px;
            }
        }
        &__social_block {
            margin-top: 7px;
        }
        &__small {
            &:after {
                bottom: -30px;   
            }
        }
    }
}
@media (max-width: 576px) {
    .container {
        max-width: 100%;
    }   
    .header {
        padding: 10px 10px;
        &__social {
            display: none;
        }
    }
    .menu {
        padding: 15px 0 0 0;
        &__items {
            width: 75%;
        }
        &__block {
            grid-template-columns: auto;
            grid-template-rows: repeat(2, auto);
            gap: 10px;
            a {
                order: 1;
                justify-self: center;
            }
            button {
                order: 2;
                justify-self: center;
            }
            nav {
                order: 3;
                grid-column: 1 / 2;
            }
        }
    }
    .main_slider {
        width: 100%;
        &__item {
            height: 350px;
        }
        h2 {
            font-size: 17px;
        }
        &__descr {
            font-size: 24px;
        }
    }
    .about {
        margin: 60px auto 0 auto;
        padding: 0 10px 0 10px;
        &__block {
            margin: auto;           
            grid-template-columns: 300px;
            grid-template-rows: 430px 120px;
            justify-content: center;
        }
        &__img {
            display: none;
        }
        &__company {
            padding-left: 0px;
            padding-bottom: 20px;
            grid-column: 1/2;
        }
        &__company_inner {
            padding-top: 50px;
            padding-right: 25px;
            padding-left: 25px;
        }
        &__tel_box {
            grid-template-columns: 40px 130px;
        }
        &__link {
            padding: 35px 70px 60px 50px;
            grid-column: 1/2;
        }
    }
    .services {
        height: 700px;
        padding-top: 40px;
        margin-top: 30px;
        &__title {
            margin-top: 7px;
        }
        &__slider {
            margin-top: 20px;
        }
    }
    .advantages {
        height: 280px;
        &__items {
            flex-wrap: wrap;
        }
        &__item {
            width: 160px;
        }
        &__divider {
            display: none;
        }
    }
    .choose {
        margin-top: 20px;
        &__img {
           display: none;
        }
        &__descr {
           line-height: 1.2; 
            font-size: 16px;
        }
        &_btn {
            margin-top: 10px;
        }
        &__info {
            margin-top: 10px;
            padding-right: 6px;
        }
    }
    .project {
        margin-top: 100px;
        &__img_block {
            grid-template-columns: repeat(1,300px);
        }
        &__tabs {
            flex-wrap: wrap;
        }
    }
    .delivering {
         &__review_block {
            padding: 60px 7px 0 7px;
         }
         &__review_descr {
            font-size: 20px;
         }
         &__review_block {
            height: 470px;
         }
    }
    .blog {
        margin-top: 250px;
        &__title {
            font-size: 33px;
        }
        &__subtitle {
            font-size: 17px;
        }
        &__block {
            grid-template-columns: 300px;
            grid-template-rows: 455px 295px 295px;
            row-gap: 20px;
            justify-content: center;
        }
        &__small {
            grid-template-columns: 150px 150px;
            column-gap: 10px;
            &:after {
                bottom: -10px;   
            }
            &_title {
                font-size: 19px;
            }
        }
        &__social_block {
            width: 142px;
        }
        &_social_descr {
            margin-left: 4px;
        }
    }
}