.menu {
    height: 120px;
    padding: 35px 0 0 0;
    &__block {
        display: grid;
        grid-template-columns: 162px 555px 185px;
        gap: 100px;
        align-items: center;
    }
    &__items {
        margin-bottom: 0;
        list-style-type: none;
        width: 555px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        a {
            font-family: Raleway;
            font-size: 18px;
            font-weight: 600;
            color: $mainBlue;
            &:hover {
               text-decoration: none;
            }
        }
    }
}